<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>GitCall - Your github notifications, everywhere!</title>

    <!-- Included CSS Files (Uncompressed) -->
    <!--
    <link rel="stylesheet" href="stylesheets/foundation.css">
    -->

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="/static/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/static/stylesheets/app.css">

    <script src="/static/javascripts/modernizr.foundation.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <div class="contain-to-grid">
        <nav class="top-bar">
            <ul>
                <li class="name"><i><h1><a href="{{ url_for('home') }}">GitCall</a></h1></i></li>
                <li class="toggle-topbar"><a href="#"></a></li>
            </ul>
            <section>
                <ul class="right">
                    {% if session['logged_in'] %}
                    <li class="has-dropdown">
                        <a href="#">Hello {{ session['user'].username }}</a>
                        <ul class="dropdown">
                            <li><a href="{{ url_for('hooks_list') }}">Hooks</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </section>
        </nav>
    </div>
    {% with messages = get_flashed_messages() %}
    <br />
    <div class="row">
        {% if messages %}
            <div class="twelve columns">
            {% for message in messages %}
                <div class="alert-box">
                    {{ message }}
                    <a href="" class="close">&times;</a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    {% endwith %}

    {% if session['logged_in'] %}
    <div class="row">
        {% if not session['user'].mobile %}
        <div class="twelve columns panel radius">
            <h5>You need to add your mobile number.</h5>
            <form action="{{ url_for('add_mobile') }}" method="post">
                <label for="mobile">Enter you mobile number with international code.</label>
                <input name="mobile" id="mobile" type="text" placeholder="919876543210" class="four">
                <input type="submit" value="Save" class="button">
            </form>
        </div>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    {% else %}
    <div class="row">
        <div class="twelve columns" align="center">
            <h2>Get your Github repo's push notifications wherever you are.</h2>
        </div>
        <div class="twelve columns" align="center">
            <img src="/static/images/github.png">
        </div>
    </div>
    {% endif %}
  
  
  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="static/javascripts/jquery.js"></script>
  
  <script src="static/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="static/javascripts/jquery.foundation.forms.js"></script>
  
  <script src="static/javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="static/javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="static/javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="static/javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="static/javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="static/javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="static/javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="static/javascripts/jquery.placeholder.js"></script>
  
  <script src="static/javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="static/javascripts/jquery.foundation.topbar.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="/static/javascripts/jquery.js"></script>
  <script src="/static/javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="/static/javascripts/app.js"></script>
</body>
</html>
