<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Foundation</title>
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="static/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="static/stylesheets/app.css">

  <script src="static/javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
    <div class="row">
        <header class="twelve columns">
            <h1>GitCall</h1>
            <p>Get your github commit notifications right on your cell phone.</p>
        </header>
    </div>
    {% with messages = get_flashed_messages() %}
    <div class="row">
        {% if messages %}
            <div class="twelve columns">
            {% for message in messages %}
                <div class="alert-box">
                    {{ message }}
                    <a href="" class="close">&times;</a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    {% endwith %}

    {% if logged_in %}
    <div class="row">     
        <div class="twelve columns">
            <h3>Hello {{ user.username }}.</h3>
            <a class="button" href="{{ url_for('logout') }}">Logout</a>
        </div>
        {% if not user.mobile %}
        <div class="twelve columns">
            <h5>You need to add your mobile number.</h5>
            <form action="{{ url_for('add_mobile') }}" method="post">
                <div class="twelve column">
                    <label for="mobile">Enter you mobile number with international code.</label>
                    <input name="mobile" id="mobile" type="text" placeholder="919826510821" class="four">
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    {% else %}
    <div class="row">
        <div class="twelve columns">
            <p><a href="{{ url_for('login') }}" class="button">Login with Github</a></p>
        </div>
    </div>
    {% endif %}
  
  
  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="static/javascripts/jquery.js"></script>
  
  <script src="static/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="static/javascripts/jquery.foundation.forms.js"></script>
  
  <script src="static/javascripts/jquery.foundation.reveal.js"></script>
  
  <script src="static/javascripts/jquery.foundation.orbit.js"></script>
  
  <script src="static/javascripts/jquery.foundation.navigation.js"></script>
  
  <script src="static/javascripts/jquery.foundation.buttons.js"></script>
  
  <script src="static/javascripts/jquery.foundation.tabs.js"></script>
  
  <script src="static/javascripts/jquery.foundation.tooltips.js"></script>
  
  <script src="static/javascripts/jquery.foundation.accordion.js"></script>
  
  <script src="static/javascripts/jquery.placeholder.js"></script>
  
  <script src="static/javascripts/jquery.foundation.alerts.js"></script>
  
  <script src="static/javascripts/jquery.foundation.topbar.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="static/javascripts/jquery.js"></script>
  <script src="static/javascripts/foundation.min.js"></script>
  
  <!-- Initialize JS Plugins -->
  <script src="static/javascripts/app.js"></script>
</body>
</html>
