{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="twelve columns">
        <!-- userrepo list -->
        {% if repolinks %}
        <div class="row">
            <h3>Currently added repositories</h3>
            {% for repolink in repolinks %}
            <span class="radius secondary label"><a href="{{ url_for('hooks', repo_name = repolink.repo_name) }}">{{ repolink.repo_name }}</a></span>
            {% endfor %}
        </div>
        {% endif %}
        <!-- END userrepo list -->
        {% if repos and session['user'].mobile %}
        <br />
        <div class="row">
            <h2>Choose a Repository to get started.</h2>
            <div href="#" class="large button dropdown">
                Choose one
                <ul>
                    {% for repo in repos %}
                    <li><a href="{{ url_for('add_hook', repo_name = repo.name) }}" >{{ repo.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        <!-- NEW userrepo list -->
    </div>
</div>
{% endblock %}